config/*.logs
config/*.logs.gz
config/*-server.toml
logs\*
mods/alexscaves-*.jar
mods/alexscaves-1.1.4.jar
mods/alexscaves-1.1.4.jar_
mods/AmbientSounds_*.jar
mods/AmbientSounds_FORGE_v6.0.3_mc1.20.1.jar
mods/AmbientSounds_FORGE_v6.0.3_mc1.20.1.jar_
mods/Wesley's+Roguelike+Dungeons+*.jar
mods/Wesley's+Roguelike+Dungeons+1.20.1-2.3.2.jar
mods/Wesley's+Roguelike+Dungeons+1.20.1-2.3.2.jar_
mods\alexscaves-1.1.4.jar
saves/*
usercache.jsonmods/alexscaves-1.1.4.jar
usernamecache.json
XaeroWaypoints/*
XaeroWaypoints_BACKUP032021/*
XaeroWorldMap/*
