*.batmods/alexscaves-1.1.4.jar
config.rar
config/*.logs
config/*.logs.gz
essential/Essential (forge_1.20.1).jar
git-bash.exe.*
kubejs/documentation/index.html
logs/*
mods/alexscaves-1.1.4.jar
mods/AmbientSounds_FORGE_v6.0.3_mc1.20.1.jar
mods/Wesley's+Roguelike+Dungeons+1.20.1-2.3.2.jar
push.sh
saves/*
usercache.jsonmods/alexscaves-1.1.4.jar
usernamecache.json
XaeroWaypoints/*
XaeroWaypoints_BACKUP032021/*
XaeroWorldMap/*
